body{
    padding: 0;
    margin: 0;
   background-image: url(weatherbg.jpg);
   background-size: cover;
}

.container{
    height: 60vh;
    width: 35%;
    background-color: black;
    margin-left: 540px;
    margin-top: 70px;
    opacity: 0.8;
    box-sizing: border-box;
    border-style: solid;
    border-width: 15px;
    border-color: darkslategray;
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-family: Poppins, sans-serif;
}
.app-title{
    font-size: 1.5rem;
}
.heading{
    font-size: 2rem;
}